*{
    box-sizing: border-box;
}
body {
    position: relative;
    background: #10101B;
    height: 100vh;
    
}
.container {
    margin-top: 30px;
}

.half-width {
    height: 570px;
    background: #222436;
    padding: 30px;
    text-align: center;
}
.generate-btn{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 50%;
    border: 8px solid #39458C;
    background-color: #495BC3;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.generate-btn:focus{
    outline: none;
    box-shadow: none;
}
.generate-btn:active{
    background-color: rgba(73, 91, 195, .3);
}

input[type='text']{
    background-color: #3D4153;
    padding: 10px 0px;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #858299;
    height: 50px;
    padding: 10px;
}
input[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
.numbers {
    margin: 30px 0;
}

.calc-typed {
margin-top: 20px;
font-size: 45px;
text-align: right;
color: #fff;
}

.calc-button-row {
width: 100%;
}

.button {
width: 20%;
background: #425062;
color: #fff;
padding: 20px 0;
margin: 5px;
display: inline-block;
font-size: 25px;
text-align: center;
vertical-align: middle;
margin-right: -4px;
border-radius: 10px;
cursor: pointer;
border: none;
}
.button:focus{
    outline: none;
}
.button:active{
    background-color: rgba(66, 80, 98, .3) ;
}
.blink-me {
color: #E0B612;
}
.submit-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 120px;
    border-radius: 5px;
    background: #495BC3;
    color: #fff;
}
.submit-btn:focus{
    outline: none;
}
.submit-btn:active{
    background-color: rgba(73, 91, 195, 0.3);
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px; 
    padding: 5px 20px;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}
#tryAgain{
    display: none;
}
#pinMatched{
    display: none;
}
#welcome{
    display: none;
}
.form-control{
    text-align: center;
}
#alertMassage{
    display: none;
    width: 600px;
    background-color: salmon;
    position: absolute;
    padding: 50px 100px 50px  100px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-align: center;
}
#alertBtn{
    padding: 9px 40px;
    margin-top: 25px;
    background-color:  #495BC3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    
}
#alertBtn:focus{
    outline: none;
}
#alertBtn:active{
    background-color:  rgba(73, 91, 195, 0.5);
}